// Application Styles || Component Imports
// =================================================================================================
// =================================================================================================
// =================================================================================================
@import "client-apps/globals/global-styles/colors.module";


// Application Styles || Component Specific
// =================================================================================================
// =================================================================================================
    #home-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: #000;
        overflow: hidden;
      .game-title {
        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
        }
    }
      

